@import "../../styles/colors";
@import "../../styles/animations";

.qualitySelector {
    position: relative;
    width: 100%;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.warningTooltip {
    position: absolute;
    bottom: 0;
    left: calc(100% + 10px);
    animation: reveal ease forwards 250ms;

    button {
        background-color: transparent;
        border: none;
        outline: none;
        cursor: help;

        &:hover {
            + small {
                display: block;
            }
        }

        svg {
            display: block;
            height: 15px;

            path {
                fill: lighten($theme-primaryLighter, 50%);
            }
        }
    }

    small {
        $tooltip-width: 400px;

        position: absolute;
        bottom: calc(100% + 15px);
        left: -$tooltip-width / 2;
        min-width: $tooltip-width;
        display: none;
        font-size: 12px;
        text-align: center;
        letter-spacing: 0.5px;
        background-color: #fff;
        padding: 10px;
        border-radius: 5px;
        color: #222;
        line-height: 1.5;
        opacity: 0;
        animation: reveal ease forwards 250ms;
    }
}
