$theme-primary: #323150;
$theme-primaryDarker: darken($theme-primary, 10%);
$theme-primaryLighter: lighten($theme-primary, 10%);

$theme-accent: #40feca;
$theme-accentAlt: #9e69ee;

$theme-success: #a9f20c;
$theme-error: #ff597c;
